{
  "extends": "airbnb-base",
  "env": {
      "mocha": true,
      "node": true
  },
  "rules": {
    "no-await-in-loop": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "only-multiline"
      }
    ],
  }  
}
